<div
  class="w-35 card  bg-light mb-3 box2"
  style="max-width: 18rem"
  [ngClass]="{ strike: !todo.active }"
>
  <h5 class="card-header">{{ todo.title }}</h5>

  <div class="card-body">
    <p class="card-text">{{ todo.desc }}</p>
    <div class="d-flex justify-content-between">
      <div class="check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="exampleCheck{{ i }}"
          (click)="onCheckBoxClick(todo)"
          [checked]="!todo.active"
        />
        <label class="form-check-label" for="exampleCheck{{ i }}">
          Completed
        </label>
      </div>
      <button class="btn btn-danger btn-sm" (click)="onClick(todo)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
